<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soya | Одежда</title>
    <meta property="og:url" content="https://adam-kad.github.io/Soya.github.io/templates/index.html" />
    <meta property="og:site_name" content="SOYA"/>
    <meta property="og:title" content="Soya | Интернет-магазин" />
    <meta property="og:description" content="Интернет магазин: Худи, тостовки, кроссовки и многое другое у нас на сайте" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/meta-photo.jpeg" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//tilda.ws">
    <link rel="dns-prefetch" href="//static.tildacdn.com">
    <meta name="description" content="Одежда и товары к дополнения вашего стиля" />
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon" />
    <!-- Assets -->
    <link rel="stylesheet" href="../styles/app.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../styles/fonts.css" type="text/css" media="all" />
</head>
<body>
    <section class="header">
        <div class="top_header">
            <nav class="logotype">
                <div class="logo">
                    <div class="logo_image"></div>
                    <a class="home_link" href="../index.html"></a>
                </div>
            </nav>
            <div class="search">
                <form class="search_form" action="#" method="post">
                    <div class="search_image">
                        <input class="search_input" type="text" name="search" id="headerSearch" placeholder="Введите для поиска">
                    </div>
                    <button class="search_button" type="submit"></button>
                </form>
            </div>
            <div class="navbar">
                <div class="favourite_area">
                    <a href="#">
                        <img src="../images/heart.svg" alt="">
                    </a>
                </div>
                <div class="cart_area">
                    <a href="basket.html" id="essenceCartBtn">
                        <img src="../images/bag.svg" alt="">
                    </a>
                </div>
                <div class="user_login_info">
                    <a href="#">
                        <img src="../images/user.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="nav_menu_icon">
                <img class="nav_menu_icon_image" src="../images/menu_mob_button.png">
            </div>
        </div>

        <div class="nav_menu_mob">
            <div class="navbar_mob">
                <div class="favourite_area nmm_area_mob">
                    <a href="#">
                        <img src="../images/heart.svg" alt="">
                    </a>
                </div>
                <div class="cart_area nmm_area_mob">
                    <a href="#" id="essenceCartBtn">
                        <img src="../images/bag.svg" alt="">
                    </a>
                </div>
                <div class="user_login_info nmm_area_mob">
                    <a href="#">
                        <img src="../images/user.svg" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="bottom_header">
            <div class="nav_menu">
                <a href="../template/clothes.html" class="nav_menu_button product">
                    <img src="../images/icons/odejda.png">Одежда
                </a>
                <a href="../template/shoes.html" class="nav_menu_button product">
                    <img src="../images/icons/kross.png">Обувь
                </a>
                <a href="../template/electronics.html" class="nav_menu_button product">
                    <img src="../images/icons/noutbook.png">Электроника
                </a>
                <a href="../template/contacts.html" class="nav_menu_button account">
                    <img src="../images/icons/kontakti.png">Контакты
                </a>
                <a href="../template/about.html" class="nav_menu_button basket">
                    <img src="../images/icons/about.png">О нас
                </a>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="top_main">
            <div class="popular_container">
                <div class="popular_body">
                    <div class="popular_text">Худи</div>
                    <div class="popular_content">
                        <div class="pc_product">
                            <a class="pc_link" href="product_card.html"></a>
                            <img class="pc_image" src="../images/popular/hudy-1.png">
                            <div class="pc_descr">худи</div>
                            <div class="pc_text">Худи New Balance 530 New Balance 574</div>
                            <div class="pc_like like-btn"></div>
                            <div class="pc_price">
                                <div class="pc_price_old">2200 руб</div>
                                <div class="pc_price_new">1700 руб</div>
                            </div>
                        </div>
                        <div class="pc_product">
                            <a class="pc_link" href="product_card.html"></a>
                            <img class="pc_image" src="../images/popular/hudy-2.png">
                            <div class="pc_descr">худи</div>
                            <div class="pc_text">Худи New Balance 530 New Balance 574</div>
                            <div class="pc_like like-btn"></div>
                            <div class="pc_price">
                                <div class="pc_price_old">1750 руб</div>
                                <div class="pc_price_new">1500 руб</div>
                            </div>
                        </div>
                        <div class="pc_product">
                            <a class="pc_link" href="product_card.html"></a>
                            <img class="pc_image" src="../images/popular/hudy-3.png">
                            <div class="pc_descr">худи</div>
                            <div class="pc_text">Худи New Balance 530 New Balance 574</div>
                            <div class="pc_like like-btn"></div>
                            <div class="pc_price">
                                <div class="pc_price_old"></div>
                                <div class="pc_price_new">1250 руб</div>
                            </div>
                        </div>
                        <div class="pc_product">
                            <a class="pc_link" href="product_card.html"></a>
                            <img class="pc_image" src="../images/popular/hudy-4.png">
                            <div class="pc_descr">худи</div>
                            <div class="pc_text">Худи New Balance 530 New Balance 574</div>
                            <div class="pc_like like-btn"></div>
                            <div class="pc_price">
                                <div class="pc_price_old"></div>
                                <div class="pc_price_new">2900 руб</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="popular_container blue_fon">
                <div class="popular_body">
                    <div class="popular_text">Футболки</div>
                    <div class="popular_content">
                        <div class="pc_product">
                            <a class="pc_link" href="product_card.html"></a>
                            <img class="pc_image" src="../images/popular/futbolka-1.jpg">
                            <div class="pc_descr">футболки</div>
                            <div class="pc_text">Футболки New Balance 530 New Balance 574</div>
                            <div class="pc_like like-btn"></div>
                            <div class="pc_price">
                                <div class="pc_price_old">2200 руб</div>
                                <div class="pc_price_new">1700 руб</div>
                            </div>
                        </div>
                        <div class="pc_product">
                            <a class="pc_link" href="product_card.html"></a>
                            <img class="pc_image" src="../images/popular/futbolka-2.jpg">
                            <div class="pc_descr">футболки</div>
                            <div class="pc_text">Футболки New Balance 530 New Balance 574</div>
                            <div class="pc_like like-btn"></div>
                            <div class="pc_price">
                                <div class="pc_price_old">1750 руб</div>
                                <div class="pc_price_new">1500 руб</div>
                            </div>
                        </div>
                        <div class="pc_product">
                            <a class="pc_link" href="product_card.html"></a>
                            <img class="pc_image" src="../images/popular/futbolka-1.jpg">
                            <div class="pc_descr">футболки</div>
                            <div class="pc_text">Футболки New Balance 530 New Balance 574</div>
                            <div class="pc_like like-btn"></div>
                            <div class="pc_price">
                                <div class="pc_price_old">2200 руб</div>
                                <div class="pc_price_new">1700 руб</div>
                            </div>
                        </div>
                        <div class="pc_product">
                            <a class="pc_link" href="product_card.html"></a>
                            <img class="pc_image" src="../images/popular/futbolka-4.jpg">
                            <div class="pc_descr">футболки</div>
                            <div class="pc_text">Футболки New Balance 530 New Balance 574</div>
                            <div class="pc_like like-btn"></div>
                            <div class="pc_price">
                                <div class="pc_price_old"></div>
                                <div class="pc_price_new">2900 руб</div>
                            </div>
                        </div>
                        <div class="pc_product">
                            <a class="pc_link" href="product_card.html"></a>
                            <img class="pc_image" src="../images/popular/futbolka-3.jpg">
                            <div class="pc_descr">футболки</div>
                            <div class="pc_text">Футболки New Balance 530 New Balance 574</div>
                            <div class="pc_like like-btn"></div>
                            <div class="pc_price">
                                <div class="pc_price_old"></div>
                                <div class="pc_price_new">1250 руб</div>
                            </div>
                        </div>
                        <div class="pc_product">
                            <a class="pc_link" href="product_card.html"></a>
                            <img class="pc_image" src="../images/popular/futbolka-4.jpg">
                            <div class="pc_descr">футболки</div>
                            <div class="pc_text">Футболки New Balance 530 New Balance 574</div>
                            <div class="pc_like like-btn"></div>
                            <div class="pc_price">
                                <div class="pc_price_old"></div>
                                <div class="pc_price_new">2900 руб</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <script type="text/javascript">
        var likeBtns = document.querySelectorAll('.like-btn');

        likeBtns.forEach(function(likeBtn) {
            likeBtn.addEventListener('click', function() {
                this.classList.toggle('is-active');
            });
        });
    </script>

    <section class="footer">
        <div class="top_footer">
            <div class="footer_navbar">
                <div class="footer_logo">SOYA</div>
                <div class="footer_menu">
                    <a class="fm_button">Товары</a>
                    <a class="fm_button">Контакты</a>
                    <a class="fm_button">О нас</a>
                </div>
            </div>
            <div class="footer_container">
                <div class="footer_ceo">
                    <a class="f_ceo_button"><img class="f_ceo_image" src="../images/ceo/instagram.png"></a>
                    <a class="f_ceo_button"><img class="f_ceo_image" src="../images/ceo/telegram.png"></a>
                    <a class="f_ceo_button"><img class="f_ceo_image" src="../images/ceo/twitter.png"></a>
                    <a class="f_ceo_button"><img class="f_ceo_image" src="../images/ceo/youtube.png"></a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>