body {
    font-size: 18px;
    font-size: "Russo One";
    margin: 0px;
}

/* ШАПКА САЙТА HEADER*/

.header {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #FCECDD;
}

.top_header {
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.logo {
    max-width: 150px;
    height: 100%;
    margin: 0px 50px;
}

.logo_text {
    width: 100%;
    height: 100%;
    font-family: 'Viga';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    color: #515151;
}


.nav_menu {
    display: flex;
    max-width: 400px;
    height: 100%;

    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;

    color: #6A6A6A;
}

.nav_menu_button {
    width: 120px;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer; 
}
.nav_menu_button:hover {
    color: #000000;
}

.nav_menu_mob {
    display: none;
}


/* ТЕЛО САЙТА MAIN */

.main {
    max-width: 100%;
    height: auto;
    background-color: white;
}

.top_main {
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.top_maon_border {
    max-width: 1200px;
    margin: auto;
}

/* ПРЕВЬЮ САЙТА */

.main_preview {
    display: flex;
    width: 100%;
    height: 600px;
    padding: 0px 0px 50px 0px;
}

.main_preview_content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    margin: 75px 0px 75px 50px;
}

.main_preview_image {
    display: block;
    position: relative;
    width: 350px;
    height: 400px;
    margin: 50px;
}
.mp_image {
    display: block;
    width: 100%;
    height: auto;
}

.mpc_text {
    margin-bottom: 0px;
    display: block;
    position: relative;
    width: 516px;
    height: auto;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #6A6A6A;
}

.mpc_desc {
    display: block;
    position: relative;
    margin: 20px 0px;
    width: 500px;
    height: auto;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #A4A4A4;
}

.mpc_button {
    margin-top: 25px;
    text-align: center;
    line-height: 40px;
    position: relative;
    width: 200px;
    height: 35px;
    color: #9a9a9a;
    background: #FCECDD;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.mpc_button:hover {
    color: #ffffff;
    background: #494949;
    border: 1px solid #FCECDD;
    border-radius: 5px;
    cursor: pointer;
}
.mpc_linc {
    width: 100%;
    height: 100%;
    font-family: 'Ruthie';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    display: block;
}

.mpc_button_green {
    margin-top: 25px;
    text-align: center;
    line-height: 40px;
    position: relative;
    width: 200px;
    height: 35px;
    color: #9a9a9a;
    background: #E0FBE2;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.mpc_button_green:hover {
    color: #ffffff;
    background: #494949;
    border: 1px solid #FCECDD;
    border-radius: 5px;
    cursor: pointer;
}
.mpc_linc_green {
    width: 100%;
    height: 100%;
    font-family: 'Ruthie';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    display: block;
}

.discount {
    color: #6eca6e;
}
.mpc_button_mob {
    display: none;
    margin-top: 25px;
    text-align: center;
    line-height: 40px;
    position: relative;
    width: 200px;
    height: 35px;
    color: #9a9a9a;
    background: #FCECDD;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.mpc_button_mob:hover {
    color: #ffffff;
    background: #494949;
    border: 1px solid #FCECDD;
    border-radius: 5px;
    cursor: pointer;
}

.mpc_button_green_mob {
    display: none;
    margin-top: 25px;
    text-align: center;
    line-height: 40px;
    position: relative;
    width: 200px;
    height: 35px;
    color: #9a9a9a;
    background: #E0FBE2;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.mpc_button_green_mob:hover {
    color: #ffffff;
    background: #494949;
    border: 1px solid #FCECDD;
    border-radius: 5px;
    cursor: pointer;
}

/* БЛОК 1 */

.main_block_1 {
    width: 100vw;
    height: 600px;
    background-color: #FCECDD;   
}
.slide_block {
    display: flex;
}

.main_preview_content_right {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    margin: 75px 50px 75px 0px;
}


/* БЛОК 2 */

.main_block_2 {
    width: 100vw;
    height: 600px;
    background-color: #ffffff;   
}

/* БЛОК 3 */

.main_block_3 {
    width: 100vw;
    height: 600px;
    background-color: #ffffff;   
}

/* ОБЪЯВЛЕНИЕ */

.advert {
    width: 100vw;
    height: 200px;
    background-color: #FCECDD;
}

.advert_slide_block {
    display: flex;
    justify-content: space-between;
}

.advert_preview_image {
    display: block;
    position: relative;
    width: 200px;
    height: auto;
    margin: 40px;
}
.ap_image {
    display: block;
    width: 100%;
    height: auto;
}
.advert_preview_content {
    position: relative;
    width: 300px;
    height: auto;
    margin: 50px 0px 50px 50px;
}
.apc_text {
    margin-bottom: 0px;
    margin-top: 0px;
    display: block;
    position: relative;
    width: 300px;
    height: auto;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #6A6A6A;
}
.advert_percent{
    color: #64B86D;
    padding: 10px 0px 0px;
    font-size: 48px;
}
.apc_desc {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 20px;
    width: 200px;
    height: auto;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #A4A4A4;
}
.apc_discount {
    font-size: 30px;
    padding: 10px 0px;
}
.apc_desc_text {
    font-size: 22px;
    padding: 5px 0px;
}



/* ПОДВАЛ САЙТА  FOOTER */

.footer {
    max-width: 100%;
    height: auto;
    background-color: #FCECDD;
}

.top_footer {
    display: block;
    position: relative;
    max-width: 100%;
    height: 150px;
    margin: auto;
}

.footer_content {
    margin-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    height: auto;
}

.fc_desc {
    display: block;
    position: relative;
    margin: 10px 0px;
    max-width: 500px;
    height: auto;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #A4A4A4;
}

.fc_text {
    margin-bottom: 0px;
    display: block;
    position: relative;
    width: 516px;
    height: auto;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    color: #6A6A6A;
}

.telegram_link {
    color: #13B8FF;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}
.telegram_link:hover {
    border-bottom: 1px solid #6A6A6A;
}

/* РАЗРЕШЕНИЕ НА 1000px */
@media (max-width: 1000px) {
    .main_preview_content {
        width: 400px;
    }
    
    .main_preview {
        height: 500px;
    }
    
    .mpc_text {
        width: 400px;
        font-size: 30px;
        line-height: 35px;
    }
    
    .mpc_desc {
        width: 400px;
    }
}


/* РАЗРЕШЕНИЕ НА 800px */

@media (max-width: 800px) {
    .main_block_1, .main_block_2, .main_block_3 {
        height: 500px;
    }

    .main_preview_content {
        width: 400px;
    }
    
    .main_preview {
        height: 400px;
    }
    
    .mpc_text {
        width: 300px;
        font-size: 25px;
        line-height: 28px;
    }
    
    .mpc_desc {
        width: 300px;
        font-size: 19px;
        line-height: 22px;
    }

    .mpc_button {
        margin-top: 5px;
    }

    .advert_preview_content {
        width: 200px;
    }

    .apc_text {
        width: 200px;
        font-size: 30px;
        line-height: 35px;
    }
    .apc_discount {
        font-size: 25px;
        padding: 5px 0px;
    }
    .advert_percent {
        padding: 5px 0px 0px;
        font-size: 35px;
    }
    .apc_desc_text {
        font-size: 18px;
        padding: 1px 0px;
    }

    .fc_text {
        width: 300px;
        font-size: 20px;
        line-height: 28px;
    }
    .fc_desc {
        font-size: 20px;
        line-height: 25px;
        margin: 5px 0px;
    }
}


/* РАЗРЕШЕНИЕ НА 750px */

@media (max-width: 750px) {
    .mp_image {
        margin-top: 50px;
    }
}

/* РАЗРЕШЕНИЕ НА 650px */

@media (max-width: 650px) {
    .main_preview {
        flex-direction: column;
        height: 650px;
    }
    .main_block_1, .main_block_2, .main_block_3 {
        height: 750px;
    }

    .preview_image {
        max-width: 200px;
        height: auto;
        margin: 50px auto;
    }
    .main_preview_image {
        max-width: 200px;
        height: auto;
        margin: 30px auto;
    }
    .mp_image {
        margin-top: 0px;
    }
    .main_preview_content {
        margin: 75px auto 20px;
    }
    .mpc_text {
        margin: auto;
        text-align: center;
    }
    .mpc_desc {
        margin: 20px auto;
        text-align: center;
    }
    .mpc_button {
        margin: 5px auto 0px;
    }
    .main_preview_content_right {
       margin: 50px auto;
    }
    .slide_block {
        flex-direction: column-reverse;
    }
    .mpc_button_green {
        margin: 5px auto 0px;
    }
    .slide_block_2 {
        flex-direction: column;
    }
    .mpc_button_mob {
        display: block;
    }
    .mpc_button {
        display: none;
    }

    .mpc_button_green_mob {
        display: block;
    }
    .mpc_button_green {
        display: none;
    }
}


/* РАЗРЕШЕНИЕ НА 500px */

@media (max-width: 500px) {
    .nav_menu {
        display: none;
    }
    .advert {
        height: 550px;
    }
    .advert_slide_block {
        flex-direction: column;
        text-align: center;
    }
    .advert_preview_content {
        margin: 50px auto;
    }
    .advert_preview_image {
        margin: 20px auto;
    }
    .apc_desc {
        margin: 20px auto;
    }

    .nav_menu_mob {
        display: block;
        margin: 10px 30px;
        width: 30px;
        height: 30px;
    }
    .nav_menu_mob_image {
        display: block;
        width: 100%;
        height: 100%;
    }
}

/* РАЗРЕШЕНИЕ НА 400px */

@media (max-width: 400px) {
    .main_preview_content {
        width: 300px;
    }
    .logo {
        margin: 0px 20px;
    }
}