<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soya | Интернет-магазин</title>
    <meta property="og:url" content="https://adam-kad.github.io/Soya.github.io/templates/index.html" />
    <meta property="og:site_name" content="SOYA"/>
    <meta property="og:title" content="Soya | Интернет-магазин" />
    <meta property="og:description" content="Интернет магазин: Худи, тостовки, кроссовки и многое другое у нас на сайте" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/meta-photo.jpeg" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//tilda.ws">
    <link rel="dns-prefetch" href="//static.tildacdn.com">
    <meta name="description" content="Одежда и товары к дополнения вашего стиля" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <!-- Assets -->
    <link rel="stylesheet" href="css/styles.css" type="text/css" media="all" />
    <script src="/js/jquery-1.10.2.min.js"></script>
</head>
<body>
    <section class="header">
        <div class="top_header">
            <div class="logo">
                <div class="logo_text">SOYA</div>
            </div>
            <div class="nav_menu">
                <a class="nav_menu_button product">Товары</a>
                <a class="nav_menu_button basket">Корзина</a>
                <a class="nav_menu_button account">Аккаунт</a>
            </div>
        </div>
    </section>

    <section class="main">
        <div class="top_main">
            <div class="main_preview top_maon_border">
                <div class="main_preview_content">
                    <h1 class="mpc_text">Поможем подобрать одежду под ваш стиль!</h1>
                    <div class="mpc_desc">Худи, футболки, кроссовки и многое другое у нас на сайте. Скидка <b class="discount">10%</b> при первой покупке!</div>
                    <div class="mpc_button">
                        <a class="mpc_linc">ПЕРЕЙТИ</a>
                    </div>
                </div>
                <div class="main_preview_image">
                    <img class='mp_image' src="images/preview_image_soya.png">
                </div>
            </div>
            <div class="main_block_1">
                <div class="slide_block top_maon_border">
                    <div class="main_preview_image">
                        <img class='mp_image' src="images/hudy.png">
                    </div>
                    <div class="main_preview_content">
                        <h1 class="mpc_text">Худи, толстовки</h1>
                        <div class="mpc_desc">Фигня какая-то бла бал вадвадвавад ш3ащ34а вцлацда лакьуа тут описание типо худи алалалла</div>
                        <div class="mpc_desc">Фигня кцда лакьуа тут описание типо худи алалflmdfkljvl kvwlkfjwlf wlejwl;ek;ecewc jewjefnejfnjefne алла</div>
                        <div class="mpc_button_green">
                            <a class="mpc_linc_green">ПЕРЕЙТИ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_block_2">
                <div class="slide_block top_maon_border">
                    <div class="main_preview_content">
                        <h1 class="mpc_text">Кроссовки</h1>
                        <div class="mpc_desc">Фигня какая-то бла бал вадвадвавад ш3ащ34а вцлацда лакьуа тут описание типо худи алалалла</div>
                        <div class="mpc_desc">Другок что-то wlf wlejwl;ek;ecewc jewjefnejfnjefne алла</div>
                        <div class="mpc_button">
                            <a class="mpc_linc">ПЕРЕЙТИ</a>
                        </div>
                    </div>
                    <div class="main_preview_image">
                        <img class='mp_image' src="images/krossovky.png">
                    </div>
                </div>
            </div>

            <div class="advert">
                <div class="advert_slide_block top_maon_border">
                    <div class="advert_preview_content">
                        <h1 class="apc_text">Беспроводные наушники</h1>
                    </div>
                    <div class="advert_preview_image">
                        <img class='ap_image' src="images/naushniki.png">
                    </div>
                    <div class="apc_desc">
                        <disc class="apc_discount">Скидка</disc> 
                        <b class="advert_percent">-15%</b>
                        <disc class="apc_desc_text"> при первой покупке</disc>
                    </div>
                </div>
            </div>

            <div class="main_block_3">
                <div class="slide_block top_maon_border">
                    <div class="main_preview_image">
                        <img class='mp_image' src="images/futbolka.png">
                    </div>
                    <div class="main_preview_content">
                        <h1 class="mpc_text">Футболки</h1>
                        <div class="mpc_desc">Фигня какая-то бла бал вадвадвавад ш3ащ34а вцлацда лакьуа тут описание типо худи алалалла</div>
                        <div class="mpc_desc">Другок что-то wlf wlejwl;ek;ecewc jewjefnejfnjefne алла</div>
                        <div class="mpc_button">
                            <a class="mpc_linc">ПЕРЕЙТИ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="top_footer">
            <div class="top_maon_border">
                <div class="footer_content">
                    <h1 class="fc_text">Наш канал в <a class="telegram_link">телеграм</a></h1>
                    <div class="fc_desc">Скидки и промокоды на товары каждый день!</div>
                </div>
            </div>
        </div>
    </section>
</body>